@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin-top: 92px;
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.separator {
  height: 20px;
  width: 1px;
  background-color: #dedede;
}
.hamburger {
  display: flex;
  flex-direction: column;
  gap: 3px;
}

.hamburger span {
  height: 3px;
  width: 20px;
  background-color: black;
}

.menu {
  @apply text-white w-full flex justify-between;
}
.menu > li {
  @apply w-full relative text-center;
}

.menu > li:not(:last-child)::after {
  content: "";
  position: absolute;
  right: 0;
  top: -4px;
  width: 1px;
  height: 30px;
  background-color: #8c8c8c;
  display: block;
}

.section-title {
  font-weight: 700;
  font-size: 24px;
}

.overlay {
  position: relative;
}
.overlay::before {
  content: " ";
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  background: linear-gradient(
    180deg,
    rgba(1, 16, 17, 0) 29.21%,
    #011011 110.14%
  );
}

.thumb img {
  transition: transform 0.4s ease-out;
}
.thumb:hover img {
  transform: scale(1.05);
}
.s-button {
  width: 100%;
  text-align: center;
  background-color: #a60023;
  padding: 8px 18px;
  color: white;
  text-transform: uppercase;
}
#team-slider .swiper-slide {
  transition: transform 0.2s ease-out;
}
#team-slider .swiper-slide-prev,
#team-slider .swiper-slide-next {
  transform: scale(0.8) !important;
}

#team-slider .swiper-slide-next {
  transform-origin: top left;
}

#team-slider .swiper-slide-prev {
  transform-origin: top right;
}
#team-slider.swiper::after,
#team-slider.swiper::before {
  content: "";
  position: absolute;
  top: 0;
  width: 400px;
  height: 100%;
  background: rgb(0, 0, 0);
  z-index: 2;
}

#team-slider.swiper::before {
  content: "";
  left: 0;
  background: linear-gradient(
    -90deg,
    rgba(0, 0, 0, 0) 57%,
    rgba(0, 0, 0, 1) 100%
  );
}

#team-slider.swiper::after {
  content: "";
  right: 0;
  background: linear-gradient(
    90deg,
    rgba(0, 0, 0, 0) 57%,
    rgba(0, 0, 0, 1) 100%
  );
}

.calendar-container {
  @apply max-xl:min-h-[400px] xl:min-h-[450px];
  background-color: transparent;
  border: 1px solid #707778;
  padding: 30px;
  text-align: center;
  position: relative;
}

.calendar-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.arrow {
  background: none;
  color: white;
  font-size: 20px;
  border: none;
  cursor: pointer;
}

.month-year {
  cursor: pointer;
  color: white;
  font-size: 18px;
  font-weight: bold;
}

.days-header {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  color: #888;
  margin-bottom: 10px;
}

.calendar-body {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 5px;
}

.calendar-body.months-grid {
  grid-template-columns: repeat(4, 1fr);
}

.calendar-body.years-grid {
  grid-template-columns: repeat(6, 1fr);
}

.day {
  @apply max-xl:w-[30px] xl:w-[40px];
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  aspect-ratio: 1/1;
  cursor: pointer;
  color: white;
  margin: 0 auto;
}

.day:hover {
  background-color: #707778;
  color: #1f0000;
}

.year,
.month {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #222;
  color: white;
  padding: 10px;
  cursor: pointer;
}

.year:hover,
.month:hover {
  background-color: #444;
}

/* Highlight the current day in red */
.current-day {
  background-color: red;
  color: white;
}

button.calendar {
  background-color: #333;
  color: white;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 20px;
}

button.calendar:hover {
  background-color: #444;
}

.one-line {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  line-clamp: 1;
  -webkit-box-orient: vertical;
}

body.open #side-menu {
  transform: translateX(0);
}

body.open #side-menu-overlay {
  opacity: 1;
  z-index: 40;
}

.mobile-menu {
  padding-top: 15px;
}

.mobile-menu li {
  border-bottom: 1px solid #e3e4e8;
  padding: 10px 20px;
}

.mobile-menu li a {
  color: #54555e;
}
